<h3>执行机列表</h3>
<div ng-controller="SlaveListController" ng-class="inBusy ? 'whirl traditional' : ''" class="container-fluid">
   <div class="search-dtp-row">
      <div style="padding: 10px" class="pull-left col-dtp">
         <span>执行机列表总计：{{slaves.length}}</span>
      </div>
      <div class="pull-right col-dtp">
         <button type="button" ui-sref="auto.slavecreate" class="btn btn-dtgreen">新建执行机</button>
         <button ng-disabled="!checkedSlave" ng-click="onClickCreate()" class="btn btn-dtgreen">复制现有执行机</button>
      </div>
   </div>
   <div>
      <table id="taskListTable" ng-table="tableParams" template-pagination="app/views/ngtable-foot.html" class="table table-dtp">
         <tbody>
            <tr ng-if="slaves.length" ng-repeat="slave in $data">
               <td style="width: 5%">
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" ng-checked="slave == checkedSlave" ng-click="onClickCheck(slave)" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td data-title="'名称'" style="width: 20%">
                  <span tip-value="{{slave.name}}" max-len-hidden="20">{{slave.name}}</span>
               </td>
               <td data-title="'标签'" style="width: 20%">
                  <span tip-value="{{getLabelList(slave).join(', ')}}" max-len-hidden="20">{{getLabelList(slave)}}</span>
               </td>
               <td data-title="'描述'" style="width: 20%">
                  <span tip-value="{{slave.description ? slave.description : '--'}}" max-len-hidden="20">{{slave.description ? slave.description : "--"}}</span>
               </td>
               <td data-title="'状态（已运行/可运行）'" style="width: 25%">
                  <span>
                     <label ng-class="showColorByStatus(slave.status)" style="width: 75px; display: inline-block" class="label">{{slave.status}}</label>
                  </span>
                  <span>{{slave.runningNumExecutors}}/</span>
                  <span>{{slave.numExecutors}}</span>
               </td>
               <td data-title="'操作'" style="width: 10%">
                  <div dropdown="dropdown" style="vertical-align: top" class="btn-group"><a href="" dropdown-toggle="" class="dropdown-toggle">管理</a>
                     <ul role="menu" class="dropdown-menu animated fadeInDown">
                        <li><a ng-click="editSlave(slave.id, slave.runningNumExecutors)">编辑</a>
                        </li>
                        <li><a ng-click="deleteSlave(slave.name, slave.runningNumExecutors)">删除</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>
            <tr ng-if="!slaves.length" class="table-nodata-tr">
               <td colspan="6">
                  <div class="text-center">
                     <span class="table-nodata-content">没有符合条件的数据</span>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<script type="text/ng-template" id="/DelSlaveModule.html">
   <form name="DelSlaveForm" novalidate="" id="DelSlaveForm" class="form-validate form-horizontal"><!-- START modal--><div class="modal-header"><button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">×</button><h4 class="modal-title">删除执行机</h4></div><div class="modal-body clearfix"><div class="pull-left"><span class="text-size-32 icon-help-2 text-warning"></span></div><div class="pull-left col-sm-10"><span>您所选的执行机</span><span class="text-primary">{{slaveName}}</span><span>将执行删除操作，是否确认删除？</span></div></div><div class="modal-footer"><button type="button" ng-click="submit()" class="btn btn-danger">确定</button><button type="button" ng-click="cancel()" class="btn btn-default">取消</button></div></form>
</script>