<h3>用户统计</h3>
<div ng-controller="UserStatisticsControllerDtp" class="container-fluid">
   <div style="margin:20px 0px" class="row">
      <div style="width:10%" class="col-md-6">
         <h5>本日登录用户数:</h5>
      </div>
      <div style="width:10%" class="col-md-6">
         <h5>{{UserNumberOfToday}}</h5>
         <!--h5 day:-->
      </div>
   </div>
   <div style="margin:20px 0px" class="row">
      <div style="width:10%" class="col-md-6">
         <h5>本月登录用户数:</h5>
      </div>
      <div style="width:10%" class="col-md-6">
         <h5>{{UserNumberOfCurrentMonth}}</h5>
         <!--h5 month:-->
      </div>
   </div>
</div>